.application {
    border: 2px solid var(--teal);
    border-radius: 6px;
    margin: 1rem;
    padding: 1rem;
}

.application:hover {
    box-shadow: 1px 1px 6px #97bcc7ca;
}

.dates {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.job-title {
    margin: 0;
}

.company {
    margin: 0;
    font-weight: 700;
}

.comments {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: var(--blue-green)
}

.salary,
.hours {
    display: inline;
}

.salary {
    padding-right: 16px;
}

.status {
    font-size: 12px;
    border: 1px solid var(--teal);
    width: max-content;
    padding: 2px 6px;
    border-radius: 12px;
    /* margin-top: 10px; */
    border: none;
}

.Waiting {
    background-color: rgb(248, 227, 158);
}

.Interviewing {
    background-color: rgb(222, 182, 237);
}

.Unsuccessful {
    background-color: rgb(249, 155, 155);
}

.answer {
    background-color: rgb(226, 230, 244);
}

.Ghosted {
    background-color: rgb(223, 223, 223);
}

.accepted {
    /* background-color: rgb(179, 242, 183); */
    background-color: rgb(212, 232, 183);

}

.rejected {
    background-color: rgb(203, 215, 185);
}

.status-container {
    display: flex;
    flex-direction: row-reverse;
}