.application-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--teal);
    border-radius: 10px;
    width: 380px;
    margin: auto;
    padding-bottom: 20px;
}

/* label {
    display: grid;
    grid-template-columns: 120px 260px;
    margin-bottom: 8px;
}
 */


 label {
    display: grid;
    margin-bottom: 12px;
    width: 280px;
    font-size: 12px;
}

input,
select {
    height: 30px;
    font-size: 14px;
}

.add {
    font-size: 14px;
    padding: 6px 12px;
    /* color: var(--dark-green);
    background-color: white;
    border: 2px solid var(--teal); */
    color: white;
    background-color: var(--dark-green);
    border: 2px solid var(--dark-green);
    border-radius: 4px;
}

.add:hover {
    opacity: 90%;
    /* background-color: var(--blue-green); */

    cursor: pointer;
}

.delete {
    all: unset;
    padding-top: 10px;
    padding-right: 10px;
}

.delete-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.delete:hover {
    cursor: pointer;
}

.job-app {
    margin-top: 0;
}