.account {
    font-size: 12px;
    padding-top: 10px;
}

.login {
    color: var(--blue-green)
}

.login:hover {
    color: var(--dark-green)
}

.submit:disabled {
    background-color: var(--blue-green);
    border-color: var(--blue-green);
}

.submit:hover:disabled {
    cursor: default;
    box-shadow: none;
}

.error {
    font-size: 12px;
    /* border: 1px dashed rgb(183, 22, 22); */
    padding: 2px 8px;
    width:fit-content;
    color: rgb(207, 20, 20);
    background-color: rgb(255, 228, 228)
}