li {
    display: inline;
    color: var(--dark-green);
    /* background-color: var(--blue-green); */
    padding: 4px;
    vertical-align: middle;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: var(--teal);
    border-top: 2px solid var(--blue-green);
    /* color: var(--dark-green); */
    align-content: center;
    flex-wrap: wrap;
    
}

.nav-link {
    vertical-align: middle;
}