li {
    display: inline;
    color: #F2F1EF;
    /* background-color: var(--blue-green); */
    padding: 4px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: var(--dark-green);
}

.nav-link {
    vertical-align: middle;
}